File>Import, "Import Zeiss PALM Element to RoiManager...", Zeiss_PALM_Roi_IO("import")
File>Save As, "Export RoiManager to Zeiss PALM Element...", Zeiss_PALM_Roi_IO("export")
Plugins>Zeiss PALM, "Zeiss PALM Element: Import to RoiManager...", Zeiss_PALM_Roi_IO("import")
Plugins>Zeiss PALM, "Zeiss PALM Element: Export from RoiManager...", Zeiss_PALM_Roi_IO("export")
Plugins>Zeiss PALM, "Zeiss PALM Element: Pull two files together...", Zeiss_PALM_Roi_IO("pull")